html, body{
    margin: 0;
    font-size: 20px;
    font-family: Comic Sans MS;
    color: #cdd9e5;
    background-color: #22272e;
}

header{
    height: 50px;
    width: 100%;
    background-color: #2d333b;
    box-shadow: 0px 0px 15px #2d333b;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

input[type="text"], input[type="password"]{
    background-color: rgb(200, 200, 200);
    cursor: text;
    border-radius: 10px;
    border-color: transparent;
    color: rgb(0, 48, 73);
    font-family: Comic Sans MS;
    font-size: 18px;
}

input::placeholder{
    font-family: Comic Sans MS;
    font-size: 14px;
    color: rgb(99, 99, 99);
}

input:focus{
    outline: none;
}

input[type="button"], input[type="submit"]{
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
    border-color: transparent;
    color: rgb(0, 48, 73);
    background-color: rgba(255, 255, 255, 0.646);
    font-size: 18px;
    font-family: Comic Sans MS;
    text-align: center;
    cursor: pointer;
}

input[type="button"]:hover, input[type="submit"]:hover{
    background-color: #ec775c;
}

header > div > h1{
    font-size: 24px;
    font-weight: bold;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
}

header > div > input[type="text"]{
    margin-top: 5px;
    margin-right: 15px;
    margin-bottom: 5px;
}

header > div > h1 > span{
    color: #ce8989;
}

main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-left{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 90%;
    height: 500px;
}

.main-right{
    display: flex;
    flex-direction: column;

    width: 10%;
}

.File-Container{
    display: flex;
    flex-wrap: nowrap;
}

iframe{
    border-radius: 15px;
    margin: 10px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container > label{
    margin-bottom: 5px;
    margin-top: 5px;
}

.container > input[type="button"]{
    margin-top: 10px;
}

.container > input[type="text"], .container > input[type="password"]{
    margin-bottom: 20px;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
    padding-top: 100px;
  }
  
  .modal-content{
    background-color: #2d333bc0;
    margin: auto;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 15px #2d333bc0;
    width: 300px;
  }

  .animate{
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom{
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
  }
  
  @keyframes animatezoom{
    from {transform: scale(0)}
    to {transform: scale(1)}
  }